# Composer files
composer.phar
/vendor/
/public/exemple.json
/public/data.json

# Ignore everything from config except specified files in order to prevent leaks
/config/*
!/config/spreadsheet.json.sample
!/config/client_secrets.json.sample

# VSCode specific files
.vscode/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
