@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'lo-resteens';
    font-style: normal;
    font-weight: 400;
    src: local('lo-resteens'), local('lo-resteens'), url(../fonts/LRTWREGU.TTF) format('truetype');
  }


/***** GENERAL SYLING *****/

.container {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans','Source Sans Pro', sans-serif;
    font-size: small;
}


.blue-text {
    color: #7ec6e2;
    -webkit-print-color-adjust: exact; 
}


.col-1, .col-3 {
    width: 20%;
}

.col-1 {
    float: left;
}
.col-3 {
    float: right;
}


.col-2 {
    float: left;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.col-2 #Calque_1 {
    width: 90%;
}

.panel {
}

.panel .card {
    display: flex;
    align-items: center;
    background-color: #f1f1f17d;
    height: 5%;
    margin-bottom: 2%;
    padding: 10px;
}

.panel .card img {
    height: 35px;
    margin-right: 15px;
}

.panel .card .number {
    width: 10%;
    margin-right: 15px;
    line-height: 100px;
    font-weight: bold;
    font-family: lo-resteens;
}

.panel .title {
    font-family: lo-resteens;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: black;
}


/***** MAP STYLING *****/

.col-2 svg {
    width: 250px;
}

.point {
    transition: r 0.2s ease-out;
}

.point:hover {
    r: 20;
    transition: r 0.2s ease-in;

}

