/*FONT IMPORT*/

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Regular'), local('OpenSans-SemiBold'), url(../fonts/OpenSans-SemiBold.ttf) format('truetype');
  }

@font-face {
    font-family: 'lo-resteens';
    font-style: normal;
    font-weight: 400;
    src: local('lo-resteens'), local('lo-resteens'), url(../fonts/LRTWREGU.TTF) format('truetype');
}

@font-face {
    font-family: 'lo-resteens';
    font-style: normal;
    font-weight: 600;
    src: local('lo-resteens'), local('lo-resteens'), url(../fonts/LRTWBOLD.TTF) format('truetype');
  }

/***** GENERAL SYLING *****/
body {
    background-color: #EEEEEE; 
}

.container {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans','Source Sans Pro', sans-serif;
    font-size: small;
}


.blue-text {
    color: #7ec6e2;
    -webkit-print-color-adjust: exact; 
}

.col-wrapper {
    float: left;
    width: 40%;
}

.introduction {
    width: 84%;
}

.col-1 {
    float: left;
    width: 40%
}
.col-3 {
    float: left;
    margin-left: 4%;
    width: 40%
}


.col-2 {
    float: left;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

.col-2 #Calque_1 {
    width: 90%;
}


/* SPECIFIC STYLING */

.introduction h2 {
    font-family: lo-resteens;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 5px;
}

.introduction p {
    font-weight: 600;
    font-size: 17px;
    padding-top: 15px;
    border-top: solid #828282 1px;
}


.panel {
    margin-bottom: 4%;
}

.panel .card {
    display: flex;
    align-items: center;
    background-color: #f1f1f17d;
    height: 4%;
    padding: 10px;
}

.panel .card span {
    width: 55px;
    text-align: right;
}

.panel .card img {
    height: 35px;
    margin-right: 15px;
}

.panel .card .number {
    width: 10%;
    margin-right: 15px;
    font-weight: bold;
    font-size: 15px;
    font-family: lo-resteens;
}

.panel .title {
    text-transform:  uppercase;
    font-family: lo-resteens;
    font-weight: 600;
    border-radius: 5px;
    height: 3%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: medium;
    color: white;
}


/***** MAP STYLING *****/

.col-2 svg {
    width: 250px;
}

.point {
    transition: r 0.2s ease-out;
}

.point:hover {
    r: 20;
    transition: r 0.2s ease-in;

}

